body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 10px; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #222222;
    color: #dddddd;
}

.editorAndStatus {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.editor {
  flex-grow: 1;
  flex-direction: column;
  background-color: transparent;
  resize: none;
  margin: 2cqmin;
  width: 99%;
  height: 99%;
  top: 0.5%;
  left: 0.5%;
}

.info {
  flex-grow: 1;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  color: white;
  font-family: Inconsolata,Consolas,monospace;
  background-color: transparent;
  border: none;
  resize: none;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  overflow: scroll;
}

.editorArea {
  font-family: Inconsolata,Consolas,monospace;
  background-color: transparent;
  border: none;
	width: 100%;
  height: 100%;
  color: white;
  resize: none;
  overflow: hidden;
  box-shadow: none;
  outline: none;
  font-size: 1.25em;
}

.status {
  font-family: Inconsolata,Consolas,monospace;
  width: 100%;
  color: white;
  font-size: 1em;
}

.errors {
  float: left;
}


.hover-zone {
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  z-index: 100;
}

.header {
  position: fixed;
  top: -60px; 
  left: 0;
  width: 100%;
  background-color: #333;
  transition: top 0.3s ease;
  z-index: 99;
  padding: 10px 0;
}


.navbar {
  display: flex;
  justify-content: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav-menu a:hover {
  background-color: #555;
  border-radius: 4px;
}

.container {
    position: absolute;
    left: 90%;
}

.container img {
  height: 60%;
  width: 60%;
  object-fit: contain;
} 


.hover-zone:hover + .header,
.header:hover {
  top: 0;
}